<section id="sidebar">

  <div class="title"><a href="/">{{ site.title }}</a></div>
  <ul class="site_nav">
    <li><a href="/archive" {% if page.active == "archive" %}class="selected"{% endif %} class="nav_items"> Archive </a></li>
    <li><a href="/projects" {% if page.active == "projects" %}class="selected"{% endif %} class="nav_items">Projects</a></li>
    <li><a href="/about" {% if page.active == "about" %}class="selected"{% endif %} class="nav_items">About</a></li>
    <li><a href="https://twitter.com/{{ site.twitter_handle}}"><i class="fab fa-twitter"></i> Twitter </a></li>

  </ul>




</section>
